body{
    margin: 0px;
    padding: 0px;
    background-color: ;
}
.bg{
    background-color: #a8ccf5;
}
table{
    font-size: 20px;
    font-weight: 0;
}
.head{
    text-align: center;
    margin: 100px;
}
.deco a{
    text-decoration: none;
    padding: 5px;
}
.deco a:hover{
    color:crimson;
}